
body {
    background-color: black;
    color: white;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace; 
    display: flex;
    justify-content: center;
    align-items: center;
    
} 
 
/* Styling for contact */
.contact {
  background-color: black;
  width: 100%;
  }

#contact-us {
  padding-bottom: 20%;
  padding-top: 15%;
  width: 100%;
  max-width: 600px;
  padding: 20px;
  box-sizing: border-box
  }
  
span, .contact-heading {
  color: rgb(105, 105, 105);
  }

#contact-us, .contact-heading {
  align-items: center;
  }

.form-area {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
  padding: 20px;

  }

.row.single-form {
  box-shadow: 0 2px 20px -5px rgba(144, 139, 139, 0.5);
  }


.right {
  padding: 20px;
  padding-right: 10px;
  padding-left: 10px; 
  position: relative;
  background-color: black;
  }

.right i {
  position: absolute;
  font-size: 80px;
  left: -27px;
  top: 40%;
  color: #7b7b7b;
  background: rgb(55, 55, 55)
  }

.form-control {
  border: 2px solid #000;
  background-color: grey;
  color: #f0f0f0;
  }

  .form-control:focus {
    background-color: grey;
    color: #f0f0f0;
    border: 2px solid #888;
    outline: none;
  }



  /* Submit Button Contact */
.submit {
  background-color: #0f0f0f; 
  color: white; 
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  border: none; 
  border-radius: 25px; 
  padding: 15px 30px; 
  padding-left: 30px;
  margin-left: 70%;
  cursor: pointer; 
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2); 
  transition: all 0.3s ease; 
  font-family: "Courier New", Courier, monospace;
  }

.submit:hover {
  background-color: #f0f2f4; 
  color: black;
  transform: scale(1.05); 
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3); 
  }

  /* Navbar */
  .custom-bottom {
    margin: 0;
    bottom: 40px;

  }

